# 01-Ins_Welcome/Solved
# 02-Ins_Sorting/Solved
# 03-Stu_Sorting/Solved
# 05-Ins_Groupby/Solved
# 06-Stu_Groupby/Solved
# 08-Ins_Multi_Indexing/Solved
# 09-Stu_Multi_Indexing/Solved
# 12-Ins_Concat_DataFrame/Solved
# 13-Stu_Concat_Dataframes/Solved
# 15-Ins_Std_Dev_Risk/Solved
# 16-Ins_Sharpe_Ratios/Solved
17-Stu_Risky_Business/Solved

# 01-Ins_Welcome/Resources
# 02-Ins_Sorting/Resources
# 03-Stu_Sorting/Resources
# 05-Ins_Groupby/Resources
# 06-Stu_Groupby/Resources
# 08-Ins_Multi_Indexing/Resources
# 09-Stu_Multi_Indexing/Resources
# 12-Ins_Concat_DataFrame/Resources
# 13-Stu_Concat_Dataframes/Resources
# 15-Ins_Std_Dev_Risk/Resources
# 16-Ins_Sharpe_Ratios/Resources
# 17-Stu_Risky_Business/Resources



# 02-Ins_Sorting/Unsolved
# 03-Stu_Sorting/Unsolved
# 05-Ins_Groupby/Unsolved
# 06-Stu_Groupby/Unsolved
# 08-Ins_Multi_Indexing/Unsolved
# 09-Stu_Multi_Indexing/Unsolved
# 12-Ins_Concat_DataFrame/Unsolved
# 13-Stu_Concat_Dataframes/Unsolved
# 15-Ins_Std_Dev_Risk/Unsolved
# 16-Ins_Sharpe_Ratios/Unsolved
# 17-Stu_Risky_Business/Unsolved
# Images
files_list.py

