# 01-Ins_Reading_CSVs/Unsolved
# 02-Stu_Reading_CSVs/Unsolved
# 03-Ins_Columns/Unsolved
# 04-Ins_Data_Cleaning/Unsolved
# 05-Stu_Data_Cleaning/Unsolved
# 06-Ins_Indexing/Unsolved
# 07-Stu_Indexing/Unsolved
# 08-Ins_Pandas_Visualization/Unsolved
# 09-Stu_Pandas_Visualization/Unsolved
# 10-Ins_Returns/Unsolved
# 11-Stu_Returns/Unsolved


01-Ins_Reading_CSVs/Solved
02-Stu_Reading_CSVs/Solved
03-Ins_Columns/Solved
04-Ins_Data_Cleaning/Solved
05-Stu_Data_Cleaning/Solved
06-Ins_Indexing/Solved
07-Stu_Indexing/Solved
08-Ins_Pandas_Visualization/Solved
09-Stu_Pandas_Visualization/Solved
10-Ins_Returns/Solved
11-Stu_Returns/Solved


files_list.py
Images