# 01-terminal-01/Unsolved
01-terminal-01/Solved
# 02-variables-01/Unsolved
02-variables-01/Solved
# 03-condition-control-flow-01/Unsolved
03-condition-control-flow-01/Solved
# 04-condition-control-flow-02/Unsolved
04-condition-control-flow-02/Solved
# 05-inputs-01/Unsolved
05-inputs-01/Solved
# 06-inputs-02/Unsolved
06-inputs-02/Solved
# 07-lists-01/Unsolved
07-lists-01/Solved
# 08-dicts-01/Unsolved
08-dicts-01/Solved
# 09-dicts-02/Unsolved
09-dicts-02/Solved
# 10-loops-01/Unsolved
10-loops-01/Solved
# 11-functions-01/Unsolved
11-functions-01/Solved
# 12-functions-02/Unsolved
12-functions-02/Solved
# 13-csv-01/Unsolved
13-csv-01/Solved
# 14-python-calculator-01/Unsolved
14-python-calculator-01/Solved
# 15-algo-challenge-01/Unsolved
15-algo-challenge-01/Solved
# 16-algo-challenge-02/Unsolved
16-algo-challenge-02/Solved
# 17-github-practice-01/Unsolved
17-github-practice-01/Solved
# 18-Stu_RockPaperScissors/Unsolved
18-Stu_RockPaperScissors/Solved
# 19-Stu_NumberChain/Unsolved
19-Stu_NumberChain/Solved
# 20-Stu_KidInCandyStore/Unsolved
20-Stu_KidInCandyStore/Solved
# 21-Stu_ReadNetFlix/Unsolved
21-Stu_ReadNetFlix/Solved
# 22-Stu_Email/Unsolved
22-Stu_Email/Solved
# ADVANCED_Stu_Set_Operations/Unsolved
ADVANCED_Stu_Set_Operations/Solved
# ADVANCED_Stu_UUID_Generator/Unsolved
ADVANCED_Stu_UUID_Generator/Solved
files_list.py
